export(promodel)
export(quantReclass)
export(freqPlot)
import(terra)
importFrom("geometry", "convhulln", "inhulln")
importFrom("graphics", "polygon")
importFrom("grDevices", "rgb")
importFrom("ks", "kde")
importFrom("stats", "cov")
